

NET "port_led[15]" LOC = D10;
NET "port_led[14]" LOC = E10;
NET "port_led[13]" LOC = A11;
NET "port_led[12]" LOC = B11;
NET "port_led[11]" LOC = C11;
NET "port_led[10]" LOC = D11;
NET "port_led[9]" LOC = E11;
NET "port_led[8]" LOC = F11;
NET "port_led[7]" LOC = A12;
NET "port_led[6]" LOC = E12;
NET "port_led[5]" LOC = F12;
NET "port_led[4]" LOC = A13;
NET "port_led[3]" LOC = B13;
NET "port_led[2]" LOC = D13;
NET "port_led[1]" LOC = E13;
NET "port_led[0]" LOC = A14;
NET "port_clk_50" LOC = B9;
NET "port_mem1_addr[17]" LOC = H17;
NET "port_mem1_addr[16]" LOC = H16;
NET "port_mem1_addr[15]" LOC = H15;
NET "port_mem1_addr[14]" LOC = H14;
NET "port_mem1_addr[13]" LOC = G16;
NET "port_mem1_addr[12]" LOC = G15;
NET "port_mem1_addr[11]" LOC = G14;
NET "port_mem1_addr[10]" LOC = G13;
NET "port_mem1_addr[9]" LOC = F18;
NET "port_mem1_addr[8]" LOC = F17;
NET "port_mem1_addr[7]" LOC = F15;
NET "port_mem1_addr[6]" LOC = F14;
NET "port_mem1_addr[5]" LOC = E16;
NET "port_mem1_addr[4]" LOC = E15;
NET "port_mem1_addr[3]" LOC = D17;
NET "port_mem1_addr[2]" LOC = D16;
NET "port_mem1_addr[1]" LOC = C18;
NET "port_mem1_addr[0]" LOC = C17;
NET "port_mem1_data[15]" LOC = M14;
NET "port_mem1_data[14]" LOC = M13;
NET "port_mem1_data[13]" LOC = L18;
NET "port_mem1_data[12]" LOC = L17;
NET "port_mem1_data[11]" LOC = L16;
NET "port_mem1_data[10]" LOC = L15;
NET "port_mem1_data[9]" LOC = K15;
NET "port_mem1_data[8]" LOC = K14;
NET "port_mem1_data[7]" LOC = K13;
NET "port_mem1_data[6]" LOC = K12;
NET "port_mem1_data[5]" LOC = J17;
NET "port_mem1_data[4]" LOC = J16;
NET "port_mem1_data[3]" LOC = J15;
NET "port_mem1_data[2]" LOC = J14;
NET "port_mem1_data[1]" LOC = J13;
NET "port_mem1_data[0]" LOC = J12;
NET "port_mem1_en" LOC = M15;
NET "port_mem1_oe" LOC = M16;
NET "port_mem1_we" LOC = M18;
NET "port_mem2_addr[17]" LOC = U15;
NET "port_mem2_addr[16]" LOC = U16;
NET "port_mem2_addr[15]" LOC = V9;
NET "port_mem2_addr[14]" LOC = V12;
NET "port_mem2_addr[13]" LOC = V13;
NET "port_mem2_addr[12]" LOC = V15;
NET "port_mem2_addr[11]" LOC = U18;
NET "port_mem2_addr[10]" LOC = T18;
NET "port_mem2_addr[9]" LOC = T17;
NET "port_mem2_addr[8]" LOC = R18;
NET "port_mem2_addr[7]" LOC = R16;
NET "port_mem2_addr[6]" LOC = R15;
NET "port_mem2_addr[5]" LOC = P18;
NET "port_mem2_addr[4]" LOC = P17;
NET "port_mem2_addr[3]" LOC = P16;
NET "port_mem2_addr[2]" LOC = N18;
NET "port_mem2_addr[1]" LOC = N15;
NET "port_mem2_addr[0]" LOC = N14;
NET "port_mem2_data[15]" LOC = N11;
NET "port_mem2_data[14]" LOC = N12;
NET "port_mem2_data[13]" LOC = P10;
NET "port_mem2_data[12]" LOC = P11;
NET "port_mem2_data[11]" LOC = P12;
NET "port_mem2_data[10]" LOC = P13;
NET "port_mem2_data[9]" LOC = R10;
NET "port_mem2_data[8]" LOC = R11;
NET "port_mem2_data[7]" LOC = R12;
NET "port_mem2_data[6]" LOC = R14;
NET "port_mem2_data[5]" LOC = R13;
NET "port_mem2_data[4]" LOC = T12;
NET "port_mem2_data[3]" LOC = T14;
NET "port_mem2_data[2]" LOC = T15;
NET "port_mem2_data[1]" LOC = T16;
NET "port_mem2_data[0]" LOC = U13;
NET "port_mem2_en" LOC = N10;
NET "port_mem2_oe" LOC = R9;
NET "port_mem2_we" LOC = M9;
NET "port_rst" LOC = U10;
NET "port_clk_key" LOC = U9;
NET "port_switch[15]" LOC = J6;
NET "port_switch[14]" LOC = J7;
NET "port_switch[13]" LOC = K2;
NET "port_switch[12]" LOC = K7;
NET "port_switch[11]" LOC = M1;
NET "port_switch[10]" LOC = N1;
NET "port_switch[9]" LOC = N2;
NET "port_switch[8]" LOC = R1;
NET "port_switch[7]" LOC = R4;
NET "port_switch[6]" LOC = U1;
NET "port_switch[5]" LOC = V2;
NET "port_switch[4]" LOC = V3;
NET "port_switch[3]" LOC = V4;
NET "port_switch[2]" LOC = U8;
NET "port_switch[1]" LOC = R7;
NET "port_switch[0]" LOC = T7;

# PlanAhead Generated physical constraints 

NET "port_com_data_ready" LOC = A16;
NET "port_com_rdn" LOC = C14;
NET "port_com_tbre" LOC = D14;
NET "port_com_tsre" LOC = N9;
NET "port_com_wrn" LOC = U5;
